.main {
    margin: 5% 10%;
    font-family: 'Open Sans', verdana, arial, sans-serif;
}

.main h1 {
    text-align: center;
}

.main h2 {
    text-align: center;
}

.predict_outcome {
    display: flex;
    border: 5px black;
}

.predict_outcome_input {
    width: 50%;
    float: left;
}

.predict_outcome_input input[type="number"]{
    display: block;
    border-radius: 4px;
    border-width: 1px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    height: 36px;
    font-size: 14px;
    width: 100%;
    font-family: 'Open Sans', verdana, arial, sans-serif;

}

.predict_outcome_result {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.predict_outcome_result button {
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
    width: 100%;
    font-family: 'Open Sans', verdana, arial, sans-serif;

}

.predict_outcome_result .result_display {
    padding: 5%;
}

